<%- include('partials/head.ejs'); %>

<h1>Homepage</h1>

<% if (locals.user) { %>
    <h1>Hi <%= locals.user.name %>!</h1>
<% } else { %>
    <a href="/auth">Login with GitHub</a>
<% } %>

<ul>
    <% locals.requests.forEach(request => { %>
    <li data-requestid="<%= request.id %>">
        <span><%= request.votes %></span>
        <button data-requestid="<%= request.id %>" class="vote up">+</button>
        <button data-requestid="<%= request.id %>" class="vote down">+</button>
        <a href="/request/<%= request.id %>">
            <p><%= request.title %></p>
            <small>Requested by <%= request.username %></small>
        </a>
    </li>
    <% }); %>
</ul>
