<%- include('partials/head.ejs'); %>

<% if (!locals.loggedIn) { %>
	<a href="/auth">Login with GitHub</a>
<% } %>

<a href="#suggest-feature" class="big-blue">Suggest a Feature</a>

<section class="top-rated">
	<% locals.requests.forEach(request => { %>
	<article>
		<aside>
			<p class="votes-count"><%= request.score %></p>
			<div class="vote-buttons">
				<form method="post" action="/vote">
					<input type="hidden" name="request_id" value="<%= request.id %>">
					<input type="hidden" name="action" value="plus">
					<button type="submit">
						<svg width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 20h4V8H0v12zM22 9c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L13.17 0 6.59 6.59C6.22 6.95 6 7.45 6 8v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73V9.09l-.01-.01L22 9z" fill-rule="nonzero" fill="#666"/></svg>
					</button>
				</form>
				<form method="post" action="/vote">
					<input type="hidden" name="request_id" value="<%= request.id %>">
					<input type="hidden" name="action" value="minus">
					<button type="submit">
						<svg width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M14 0H5c-.83 0-1.54.5-1.84 1.22L.14 8.27C.05 8.5 0 8.74 0 9v1.91l.01.01L0 11c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L8.83 20l6.59-6.59c.36-.36.58-.86.58-1.41V2c0-1.1-.9-2-2-2zm4 0v12h4V0h-4z" fill-rule="nonzero" fill="#666"/></svg>
					</button>
				</form>
			</div>
		</aside>
		<div>
			<h1><a href="/r/<%= request.id %>"><%= request.title %></a></h1>
			<footer>Created <time datetime="<%= request.date %>"><%= request.dateRelative %></time> by <a href="https://github.com/<%= request.username %>"><%= request.username %></a></footer>
		</div>
		<% if (request.comments.length > 0) { %>
		<a class="comments-link" href="/r/<%= request.id %>">
			<%= request.comments.length %>
		</a>
		<% } %>
	</article>
	<% }) %>
</section>

<form method="post" action="/r/new" id="suggest-feature">
	<label for="title">Title</label>
	<input id="title" type="text" name="title">

	<label for="content">Description</label>
	<textarea id="content" name="content"></textarea>
	<button type="submit">Submit new request</button>
</form>
