<%- include('partials/head.ejs'); %>
<a href="/">Back to Listing</a>
<article>
    <aside>
        <p class="votes-count"><%= request.score %></p>
        <form method="post" action="/vote">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <input type="hidden" name="action" value="plus">
            <button type="submit">+</button>
        </form>
        <form method="post" action="/vote">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <input type="hidden" name="action" value="minus">
            <button type="submit">-</button>
        </form>
    </aside>
    <% if (editMode && request.editAllowed) { %>
    <form method="post" action="/r/<%= request.id %>">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= request.title %>">
        <button type="submit">Save</button>
    </form>
    <% } else { %>
        <h1><%= request.title %></h1>
        <% if (request.editAllowed) { %><a href="?edit=1">edit</a><% } %>
    <% } %>
    <footer>Created <time datetime="<%= request.date %>"><%= request.dateRelative %></time> by <a href="https://github.com/<%= request.username %>"><%= request.username %></a></footer>
    <section>
        <% request.comments.forEach(comment => { %>
        <article>
            <aside>
                <img src="https://github.com/<%= comment.username %>.png?size=60" alt="<%= comment.username %>">
            </aside>
            <main>
            <% if (editMode && comment.editAllowed) { %>
                <form method="post" action="/comment">
                    <input type="hidden" name="comment_id" value="<%= comment.id %>">
                    <input type="hidden" name="request_id" value="<%= request.id %>">
                    <textarea name="content"><%= comment.content %></textarea>
                    <button type="submit">Save</button>
                </form>
            <% } else { %>
                <%- comment.contentParsed %>
            <% } %>
            </main>
            <footer>
                <% if (comment.userVote) { %><%= comment.userVote %> &bull;<% } %>
                <time datetime="<%= comment.date %>"><%= comment.dateRelative %></time> &bull;
                <a href="https://github.com/<%= comment.username %>"><%= comment.username %></a>
                <% if (comment.edited) { %>&bull; edited<% } %>
                <% if (comment.editAllowed) { %> &bull; <a href="?edit=1">edit</a><% } %>
            </footer>
        </article>
        <% }) %>
        <form method="post" action="/comment">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <textarea name="content"></textarea>
            <button type="submit">Post</button>
        </form>
    </section>
</article>
