<%- include('partials/head.ejs'); %>

<%= JSON.stringify(locals) %>

<article>
    <aside>
        <p><%= request.votes %></p>
        <form method="post" action="/vote">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <input type="hidden" name="action" value="plus">
            <button type="submit">+</button>
        </form>
        <form method="post" action="/vote">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <input type="hidden" name="action" value="minus">
            <button type="submit">-</button>
        </form>
    </aside>
    <% if (edit_mode && request.edit_allowed) { %>
    <form method="post" action="/edit/title">
        <input type="text" name="title" value="<%= request.title %>">
        <button type="submit">Save</button>
    </form>
    <% } else { %>
        <h1><%= request.title %></h1>
    <% } %>
    <footer>Created <time datetime="<%= request.date %>"><%= request.date_relative %></time> by <a href="https://github.com/<%= request.username %>"><%= request.username %></a></footer>
    <section>
        <% request.comments.forEach(comment => { %>
        <article>
            <aside>
                <img src="https://github.com/<%= comment.username %>.png?size=60" alt="<%= comment.username %>">
            </aside>
            <main>
                <% if (edit_mode && comment.edit_allowed) { %>
                    <form method="post" action="/edit/comment">
                        <input type="hidden" name="comment_id" value="<%= comment.id %>">
                        <input type="hidden" name="request_id" value="<%= request.id %>">
                        <textarea name="content"><%= comment.content %></textarea>
                        <button type="submit">Save</button>
                    </form>
                <% } else { %>
                    <%- comment.content_parsed %>
                <% } %>
            </main>
            <footer><%= comment.date_relative %> &bull; <%= comment.username %> <% if (comment.edited) { %>&bull; edited<% } %></footer>
        </article>
        <% }) %>
        <form method="post" action="/comment">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <textarea name="content"></textarea>
            <button type="submit">Post</button>
        </form>
    </section>
</article>
